body {
    background-color: teal;
    color: Aqua;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin: 23px;
    padding: 23px;
    border: 2px solid black; /* Add a black border with a width of 2px */
    box-sizing: border-box; /* Ensure that the border is included in the element's dimensions */
}


header {
    text-align: center;
}

main {
    text-align: center;
}

p {
    margin-bottom: 20px;
}


}